.schedule-action-bar {
    background-color: var(--wm-color-primary);
    border-bottom: 20px solid #E70101;
}

.schedule-bar-btn {
    color: #ffffff;
    border-color: #fff;
    border-style: solid;
    border-width: 1px 0px 1px 1px;
    border-radius: 0;
    font-size: 12px;
    font-weight: 700;
    min-height: 30px;
}

.btn-emp-shift1 {
    width: 18.75%;
}

.btn-emp-shift2 {
    width: 13%;
}

.btn-emp-shift3 {
    width: 26.5%;
}

.btn-emp-shift4 {
    width: 10%;
}

.btn-emp-shift5 {
    width: 19%;
}

.btn-emp-shift6 {
    width: 13%;
}

.resp-padding-left {
    padding-left: 1.5%;
}

.resp-padding-right {
    padding-right: 1.7%;
}
