.schedule-action-bar {
    background-color: var(--wm-color-primary);
    border-bottom: 20px solid #E70101;
}

.schedule-bar-btn {
    color: #ffffff;
    border-color: #fff;
    border-style: solid;
    border-width: 1px 0px 1px 1px;
    border-radius: 0;
    font-size: 12px;
    font-weight: 700;
    min-height: 30px;
}

.btn-emp-shift1 {
    width: 18.75%;
}

.btn-emp-shift2 {
    width: 13%;
}

.btn-emp-shift3 {
    width: 26.5%;
}

.btn-emp-shift4 {
    width: 10%;
}

.btn-emp-shift5 {
    width: 19%;
}

.btn-emp-shift6 {
    width: 13%;
}

.resp-padding-left {
    padding-left: 1.5%;
}

.resp-padding-right {
    padding-right: 1.7%;
}

.bg-white {
    background-color: white;
    border: none;
    margin-bottom: 10px;
    margin-left: 25px;
    justify-content: start !important;
}

.form-black-border-select {
    border-radius: 4px !important;
}

.Mui-focused .form-black-border-select {
    border: 2px solid var(--wm-color-black);
}

.purple.fa-diamond {
    background-color: #A055CD;
}

.blue.fa-diamond {
    background-color: #10A8D8;
}

.orange.fa-diamond {
    background-color: #F5AC3E;
}

.red.fa-diamond {
    background-color: #FB5007;
}

.green.fa-diamond {
    background-color: #3AC037;
}

.dropdown-default {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
}

.dropdown-menu li:hover {
    background-color: #0078d4;
}

.dropdown-default .dropdown-menu li a:hover:before {
    --wm-dropdown-menu-item-state-layer-opacity: 0 !important;
}

.dropdown-menu li a span {
    font-family: "Arial" !important;
}

.dropdown .dropdown-menu {
    width: auto
}

.app-menu button .caret:before {
    display: none;
}

.dropdown-toggle:hover,
.dropdown-toggle:focus,
.dropdown-toggle:active,
.btn-menu-select-trigger button:hover {
    --wm-btn-state-layer-opacity: 0 !important;
    --wm-btn-state-layer-color: transparent !important;
}

.app-menu .fa-caret-down:before {
    content: "\f30e";
    font-family: "Wavicon";
    font-size: 22px;
    right: -130px;
    position: absolute;
}

.app-menu .app-button .btn-caption {
    left: -22px;
    position: relative;
}
