.pref-prefer-working {
    background-color: var(--wm-color-prefer) !important;
    color: var(--wm-color-on-tertiary) !important;
}

.pref-dislike-working {
    background-color: var(--wm-color-dislike) !important;
    color: var(--wm-color-on-tertiary);
}

.main-celender .fc-header-toolbar.fc-toolbar {
    display: none !important;
}

.pref-selected {
    outline: 3px solid #333 !important;
    outline-offset: 2px;
}

.app-calPreferences .fc-col-header-cell-cushion {
    white-space: normal;
    overflow: visible;
    text-overflow: unset;
}

.pref-specific-date {
    background-color: var(--wm-color-purple) !important;
    border-color: var(--wm-color-purple) !important;
}

app-partial-monthlyview {
    width: 100%;
}

.app-calendar.main-celender {
    z-index: 9;
    height: 355px;
}

div[name="leftMonthsContainer"],
div[name="rightMonthsContainer"] {
    width: 35% !important;
}

div[name="centerNavWrapper"] {
    width: 25% !important;
}

.dark-red-bg {
    background-color: var(--wm-color-cannotwork) !important;
    color: var(--wm-color-white) !important;
}
