.employee-color-dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    flex-shrink: 0;
}

.nav-tabs {
    background-color: var(--wm-color-grey-bg-color);
}

.date-group-header-row {
    border-top: 2px solid var(--wm-color-bordernew-color);
    padding-top: 2px;
    margin-top: 2px;
}

ul li:first-child .date-group-header-row {
    border: none;
    padding-top: 0px;
    margin-top: 0px;
}
