.container-white-container-with-border.margin-auto {
    margin: 80px auto 40px;
}

.logo {
    top: -80px;
    position: absolute;
}

.label-brand-title {
    margin-top: 80px;
}

.app-container.divider-custom {
    border: none;
    height: 1px;
    width: 400px;
    background: #eee;
    margin: auto;
}

.signin-page-font {
    font-family: 'Apple SD Gothic Neo Regular', 'Apple SD Gothic Neo', sans-serif !important;
}

.font-bold {
    font-weight: bold;
}

.text-left {
    justify-content: flex-start;
}
