.cal-day-slot-item {
  width: 14.2857% !important;
  border: 1px solid black !important;
  min-height: 20px;
}

.cal-cell-current-month {
  border-top: 3px #E70101 solid !important;
}

.cal-cell-other-month {
  border-top: 3px solid black !important;
  background-color: #E9E9E9 !important;

}
