@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:wght@300&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-stretch: normal;
    src: url(https://fonts.gstatic.com/s/opensans/v44/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsjZ0B4gaVc.ttf) format('truetype');
}


:root {
    --wm-color-light-grey: #C0C0C0;
    --wm-color-prefer: #9dee94;
    --wm-color-dislike: #f9b4b7;
    --wm-color-cannotwork: #de101c;
    --wm-coor-mid-grey: #666666;
    --wm-color-soft-black: rgba(0, 0, 0, 0.15);

}

.open-sans-700 {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.wm-app .form-signin-control:focus,
.wm-app .form-signin-control:active {
    outline-style: auto !important;
    outline-width: thick !important;
    outline-color: #66afe9 !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6) !important;
    border-color: #66afe9 !important;
}

.wm-app .modal-backdrop.fade.in {
    opacity: 0;
}

.wm-app {
    overflow-x: hidden;
}

.wm-app .app-tabs ul li {
    top: 1px;
}

.wm-app .app-tabs ul li:not(.active) {
    height: 21px !important;
    top: 4px;
}

.wm-app .app-tabs ul li:hover:not(.active) {
    height: 24px !important;
    top: 1px !important;
}

.wm-app .tab-header.active,
.wm-app .tab-header.active a,
.wm-app .tab-header.active a::before {
    background-color: var(--wm-color-white) !important;
}

.wm-app .app-tabs ul {
    justify-content: center !important;
}

/* .striped-even table .app-checkbox.checkbox>label .caption:before {
    background: url(./resources/images/imagelists/checkbox.png);
    background-position: -50px -5px;
    top: 0;
    left: 0;
    width: 18px;
    height: 18px;
} */

/* .striped-even table .active .app-checkbox.checkbox>label .caption:before,
.striped-even table .app-checkbox.checkbox>label.checked-box .caption:before {
    background: url(./resources/images/imagelists/checkbox.png);
    background-position: -25px -5px;
} */


.striped-even table .app-checkbox.checkbox>label .caption:before {
    /* border-color: transparent; */
}

.striped-even table .app-checkbox.checkbox>label>input[type="checkbox"]:checked+.caption:after {
    /* border-color: transparent; */
}

.striped-even .table .app-checkbox.checkbox>label>input[type="checkbox"],
.table tr td:first-child>.app-checkbox>label,
.table th .app-checkbox>label {
    width: 18px;
    height: 18px;
    min-height: 18px;
}

.striped-even .table>tbody>tr.active:nth-child(odd) {
    background-color: transparent;
}

.striped-even .table thead th:hover,
.striped-even .table>tbody>tr:hover:nth-child(odd) {
    background-color: var(--wm-color-white);
}

.data-table-striped-even-large-header.striped-even .table thead th:hover,
.data-table-striped-even-deleted-large-header.striped-even .table thead th:hover {
    border-bottom: 1px solid var(--wm-color-tertiary);
}

.data-table-striped-even-large-header th {
    height: 44px;
}

.striped-even .table thead th:not(:last-child):before {
    content: "";
    background-color: var(--wm-color-gray);
    height: 80%;
    width: 1px;
    display: block;
    position: absolute;
    right: 0px;
    top: 2px;
}

.data-table-striped-even-large-header.striped-even .table thead th:not(:last-child):before,
.data-table-striped-even-deleted-large-header.striped-even .table thead th:not(:last-child):before {
    display: none !important;
}

.striped-even th {
    text-align: center !important;
}

.striped-even th:last-child {
    text-align: left !important;
}

.striped-even td {
    white-space: nowrap;
}

.striped-even .table>tbody>tr:hover:nth-child(even) {
    background-color: var(--wm-color-surface-container-highest);
}

.data-table-striped-even-deleted-large-header .app-datagrid {
    border: 1px solid var(--wm-color-tertiary-container);
}

.data-table-striped-even-large-header .app-datagrid,
.striped-even .app-datagrid {
    border: 1px solid var(--wm-color-border-color);
}

.table .app-checkbox {
    height: 18px;
    width: 18px !important;
}

.btn-transparent-icon-btn img {
    width: 16px;
}

.fa-diamond {
    width: 11px !important;
    height: 14px !important;
    min-width: 12px !important;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.fa-diamond::before {
    display: none;
}

.purple .fa-diamond {
    background-color: #A055CD;
}

.blue .fa-diamond {
    background-color: #10A8D8;
}

.orange .fa-diamond {
    background-color: #FB5007;
}

.table .app-checkbox.checkbox>label .caption:before {
    width: 12px;
    height: 12px;
    left: 3px;
    top: 3px;
    border-width: 1px;
    border-radius: 0;
}

.table .app-checkbox.checkbox>label .caption:after {
    top: 2px;
    left: 2px;
    width: 7px;
    height: 2px;
}

.table .app-checkbox.checkbox>label>input[type="checkbox"] {
    opacity: 0;
}

.striped-even,
.data-table-striped-even-deleted-large-header,
.data-table-striped-even-large-header {
    box-shadow: none !important;
}

div[multiselect="true"] colgroup col:first-child {
    width: 25px !important;
}

.data-table-striped-even-large-header.app-grid .table>tbody>tr td {
    padding: 0px 4px;
}

wm-input[name="txtFind"].app-input-wrapper {
    flex: none !important;
}

.wm-app .btn-trailing-icon {
    left: auto;
    right: 1px;
    top: 1px;
    background-color: #e0e0e0;
    height: 30px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.wm-app .btn-trailing-icon .wi-clear:before {
    font-size: medium;
    font-weight: 700;
}

.wm-app .btn:not(.btn-icon)+.btn:not(.btn-icon),
.wm-app button:not(.btn-icon)+.btn:not(.btn-icon) {
    margin-left: 1px;
}

.table th {
    border-top: 0 !important;
}

.container-grey-standard {
    padding: 10px 20px;
}

.more:after {
    font-family: fontAwesome, Arial;
    content: "\f0a9  More";
    font-size: 96%;
    font-variant: normal;
    font-style: normal;
}

.container-grey-container-white-border {
    margin: 20px 10px;
    width: 95%;
}

.margin-auto {
    margin: auto;
}

.form-signin-control {
    width: 300px !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    text-align: center;
}

.label-label-16-400-Arial-Italic {
    font-style: italic;
    top: 8px;
}

.optional-head-container {
    position: absolute !important;
    z-index: 1;
}

.wm-app .btn:not(.btn-icon)+.btn:not(.btn-icon),
.wm-app button:not(.btn-icon)+.btn:not(.btn-icon) {
    margin-left: var(--wm-space-0) !important;
}

.form-popout-control {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

.form-popout-control:focus {
    outline: none !important;
    border: 1px solid #589CDD !important;
    box-shadow: 0 0 5px #589CDD !important;
}

.show-hide-option-list ul, .show-hide-option-list li, .show-hide-option-list .bg-white{
 background-color: white;
}
.show-hide-option-list ul{
    padding-top: 8px;
    padding-bottom: 8px;
    margin-top: 8px !important;
    margin-bottom: 4px !important;
}
.show-hide-option-list li{
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
.small-checkbox > label{
        height: 22px !important;
    min-height: 22px !important;
}
.small-checkbox input{
    height: 22px !important;
}
.small-checkbox span.caption{
        padding: 0 11px !important;
    height: 22px !important;
}
.small-checkbox .caption:before{
    width: 14px !important;
    height: 14px !important;
    top: 4px !important;
    
    border-width: 1px !important;
}
.small-checkbox .caption:after {
    top: 3px !important; 
    left: 10px !important;
    width: 8px !important;
    height: 3px !important;
}
.small-checkbox label:not(.unchecked) .caption:before{
    border-color: #0078D4 !important;
    background-color: #0078D4 !important;
}
.small-checkbox.app-checkbox.checkbox > label > input:hover, .small-checkbox.app-checkbox.checkbox > label > input:focus, .small-checkbox.app-checkbox.checkbox > label > input:active{
    opacity: 0 !important;
}
