@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:wght@300&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-stretch: normal;
    src: url(https://fonts.gstatic.com/s/opensans/v44/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsjZ0B4gaVc.ttf) format('truetype');
}

:root {
    --wm-color-light-grey: #C0C0C0;
    --wm-color-prefer: #9dee94;
    --wm-color-dislike: #f9b4b7;
    --wm-color-cannotwork: #de101c;
    --wm-coor-mid-grey: #666666;
    --wm-color-soft-black:rgba(0, 0, 0, 0.15);

}

.open-sans-700 {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.wm-app .modal-backdrop.fade.in {
    opacity: 0;
}

.wm-app {
    overflow-x: hidden;
}

.wm-app .app-tabs ul li {
    top: 1px;
}

.wm-app .app-tabs ul li:not(.active) {
    height: 21px !important;
    top: 4px;
}

.wm-app .app-tabs ul li:hover:not(.active) {
    height: 24px !important;
    top: 1px !important;
}

.wm-app .tab-header.active,
.wm-app .tab-header.active a,
.wm-app .tab-header.active a::before {
    background-color: var(--wm-color-white) !important;
}

.wm-app .app-tabs ul {
    justify-content: center !important;
}

/* .striped-even table .app-checkbox.checkbox>label .caption:before {
    background: url(./resources/images/imagelists/checkbox.png);
    background-position: -50px -5px;
    top: 0;
    left: 0;
    width: 18px;
    height: 18px;
} */

/* .striped-even table .active .app-checkbox.checkbox>label .caption:before,
.striped-even table .app-checkbox.checkbox>label.checked-box .caption:before {
    background: url(./resources/images/imagelists/checkbox.png);
    background-position: -25px -5px;
} */


.striped-even table .app-checkbox.checkbox>label .caption:before {
    border-color: transparent;
}

.striped-even table .app-checkbox.checkbox>label>input[type="checkbox"]:checked+.caption:after {
    border-color: transparent;
}

.striped-even .table .app-checkbox.checkbox>label>input[type="checkbox"],
.table tr td:first-child>.app-checkbox>label,
.table th .app-checkbox>label {
    width: 18px;
    height: 18px;
    min-height: 18px;
}

.striped-even .table>tbody>tr.active:nth-child(odd) {
    background-color: transparent;
}

.striped-even .table thead th:hover,
.striped-even .table>tbody>tr:hover:nth-child(odd) {
    background-color: var(--wm-color-white);
}

.data-table-striped-even-large-header.striped-even .table thead th:hover,
.data-table-striped-even-deleted-large-header.striped-even .table thead th:hover {
    border-bottom: 1px solid var(--wm-color-tertiary);
}

.striped-even .table thead th:not(:last-child):before {
    content: "";
    background-color: var(--wm-color-gray);
    height: 80%;
    width: 1px;
    display: block;
    position: absolute;
    right: 0px;
    top: 2px;
}

.data-table-striped-even-large-header.striped-even .table thead th:not(:last-child):before,
.data-table-striped-even-deleted-large-header.striped-even .table thead th:not(:last-child):before {
    display: none !important;
}

.striped-even th {
    text-align: center !important;
}

.striped-even td {
    white-space: nowrap;
}

.striped-even .table>tbody>tr:hover:nth-child(even) {
    background-color: var(--wm-color-surface-container-highest);
}

.data-table-striped-even-deleted-large-header .app-datagrid {
    border: 1px solid var(--wm-color-tertiary-container);
}

.data-table-striped-even-large-header .app-datagrid,
.striped-even .app-datagrid {
    border: 1px solid var(--wm-color-border-color);
}


.table th .app-checkbox {
    height: 18px;
}

.btn-transparent-icon-btn img {
    width: 16px;
}

.fa-diamond {
    width: 12px !important;
    height: 16px !important;
    min-width: 12px !important;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.fa-diamond::before {
    display: none;
}

.purple .fa-diamond {
    background-color: #A055CD;
}

.blue .fa-diamond {
    background-color: #10A8D8;
}

.orange .fa-diamond {
    background-color: #FB5007;
}

.wm-app .btn:not(.btn-icon)+.btn:not(.btn-icon),
.wm-app button:not(.btn-icon)+.btn:not(.btn-icon) {
    margin-left: var(--wm-space-0) !important;
}
